---
import Layout from '../layouts/Layout.astro';
import Fretboard from '../components/Fretboard.astro';
import Settings from '../components/Settings.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Fretboard />
		<Settings />
	</main>
</Layout>